<!-- Sidebar -->
<div id="sidebar">
  <div class="inner">

    <!-- Search -->
    <!--
      <section id="search" class="alt">
        <form method="post" action="#">
          <input type="text" name="query" id="query" placeholder="Search" />
        </form>
      </section>
    -->

    <!-- Menu -->
      <nav id="menu">
        <header class="major">
          <h2>Menu</h2>
        </header>
        <ul>
          <li><a href="index.html">Home</a></li>
          <!-- <li><a href="generic.html">Generic</a></li> -->
          <li>
            <span class="opener">Research</span>
            <ul>
              <li><a href="#">Collective Intelligence</a></li>
              <li><a href="#">Socio-Technical Risks</a></li>
              <li><a href="#">Science of Hard Problems</a></li>
            </ul>
          </li>

          <li>
            <span class="opener">Teaching</span>
            <ul>
              <li><a href="#">Geneva Tsinghua Initiative (2017 &amp Ongoing)</a></li>
              <li><a href="#">Open Collaboration &amp Peer Production (2013)</a></li>
            </ul>
          </li>

          <li>
            <span class="opener">Community Building</span>
            <ul>
              <li><a href="#">Geneva Tsinghua Initiative (2017 &amp Ongoing)</a></li>
              <li><a href="#">Open Geneva Hackathons (2017)</a></li>
              <li><a href="#">Open Collaboration &amp Peer Production (2013)</a></li>
              <li><a href="#">Swissnex Earthquake Resilience Hackathon (2013)</a></li>
            </ul>
          </li>

          <li><a href="publications.html">Publications</a></li>
          <li><a href="resume.html">Resume</a></li>
          <!-- <li><a href="elements.html">Elements</a></li> -->
        </ul>
      </nav>


    <!-- Section -->

      <section>
        <header class="major">
          <h2>Upcoming Events</h2>
        </header>
        <div class="mini-posts">
          <article>
            GOSH (March 2017)
            <br> Innsbruck (March 2017)
            <br> Tsinghua University (April 2017)
          </article>
        </div>
      </section>


    <!-- Section -->
      <section>
        <header class="major">
          <h2>Get in touch</h2>
        </header>


        <ul class="icons" style="align:left;padding-left:40px">
          <li><a href="https://twitter.com/tmaillart" class="icon fa-twitter"><span class="label">Twitter</span></a></li>
          <li><a href="https://github.com/wazaahhh/" class="icon fa-github"><span class="label">GitHub</span></a></li>
          <li><a href="https://medium.com/@tmaillart" class="icon fa-medium"><span class="label">Medium</span></a></li>
        </ul>

        <!-- <p></p> -->
        <ul class="contact">
          <li class="fa-envelope-o"><a href="mailto:wazaahhh@protonmail.ch">wazaahhh@protonmail.ch</a></li>
          <!-- <li class="fa-phone">(000) 000-0000</li> -->
          <li class="fa-home">University of Geneva
            <br> Battelle Bâtiment A
            <br>7 rte de Drize
            <br> 1227 Carouge
            <br> Switzerland</li>
        </ul>



      </section>

    <!-- Footer -->
      <footer id="footer">
        <p class="copyright">&copy; Thomas Maillart. All rights reserved. Demo Images: <a href="https://unsplash.com">Unsplash</a>. Design: <a href="https://html5up.net">HTML5 UP</a>.</p>
      </footer>

  </div>
</div>
