<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>
      {{ page.title | default: site.title }}
      {% if page.title and site.title %} - {% endif %}
      {{ site.title }}
    </title>
    <meta name="description" content="{{ page.description | default: site.description }}" />
    <link rel="stylesheet" href="{{ '/assets/css/custom.css' | relative_url }}" />
  </head>
  <body>
    {% include header.html %}
    <main class="page">
      {{ content }}
    </main>
    {% include footer.html %}
  </body>
</html>

